In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./Sample TX Data.xlsx')
df

,Fname,Lname,InmateID,PrisonName,ADD1,CITY,STATE,ZIP,Found in Inmate Search?,Same Address?,New Prison Name,New Prison Address
0,CHRISTOPHER,ALEMAN,868445.0,BILL CLEMENTS UNIT,9601 SPUR 591,AMARILLO,TX,79107,NaN,NaN,NaN,NaN
1,NATHANIEL,AVILA,862150.0,PACK UNIT,2400 WALLACE PACK RD,NAVASOTA,TX,77868-4567,NaN,NaN,NaN,NaN
2,JACOB BLUE,BALADEZ,648382.0,GIB LEWIS UNIT,777 FM 3497,WOODVILLE,TX,75990,NaN,NaN,NaN,NaN
3,STANLEY,BELL,684113.0,ELLIS UNIT,1697 FM 980,HUNTSVILLE,TX,77343,NaN,NaN,NaN,NaN
4,SCOTT,BENSON,835322.0,POLUNSKY UNIT,3872 FM 350 SOUTH,LIVINGSTON,TX,77351,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
84,CHARLES R,WILLIAMS,738507.0,MARK W STILES UNIT,3060 FM 3514,BEAUMONT,TX,77705-7655,NaN,NaN,NaN,NaN
85,LAMA,WILLIAMS,763138.0,CRAIN UNIT,1401 STATE SCHOOL RD,GATESVILLE,TX,76599,NaN,NaN,NaN,NaN
86,THADUS,WILLIAMS JR,438118.0,HUGHES UNIT,RT 2 BOX 4400,GATESVILLE,TX,76597-0099,NaN,NaN,NaN,NaN
87,GEORGE,YARBROUGH,898397.0,COFFIELD UNIT,2661 FM 2054,TENNESSEE COLONY,TX,75884,NaN,NaN,NaN,NaN
88,JOSE C,YEGA,651205.0,POLUNSKY UNIT,3872 FM 350 SOUTH,LIVINGSTON,TX,77351,NaN,NaN,NaN,NaN

In [18]:
#formatting inmate names
inmate_names = []

for f, l in zip(list(df["Fname"]), list(df["Lname"])):
    inmate_names.append(f + " " + l)



#getting inmate ids
ids = list(df["InmateID"])

for i in range(len(ids)):
    ids[i] = int(ids[i])


#reformatting addresses
addresses = []

for i in range(len(list(df["ADD1"]))):
    addr = list(df["ADD1"])[i]
    city = list(df["CITY"])[i]
    state = list(df["STATE"])[i]
    code = list(df["ZIP"])[i]

    address = addr + ", " + city + " " + state + ", " + code
    addresses.append(address)


modified_data = {"Name": inmate_names, "InmateID": ids, "Inmate Address": addresses}
inmate_data = pd.DataFrame(modified_data)
inmate_data

,Name,InmateID,Inmate Address
0,CHRISTOPHER ALEMAN,868445,"9601 SPUR 591, AMARILLO TX, 79107"
1,NATHANIEL AVILA,862150,"2400 WALLACE PACK RD, NAVASOTA TX, 77868-4567"
2,JACOB BLUE BALADEZ,648382,"777 FM 3497, WOODVILLE TX, 75990"
3,STANLEY BELL,684113,"1697 FM 980, HUNTSVILLE TX, 77343"
4,SCOTT BENSON,835322,"3872 FM 350 SOUTH, LIVINGSTON TX, 77351"
...,...,...,...
84,CHARLES R WILLIAMS,738507,"3060 FM 3514, BEAUMONT TX, 77705-7655"
85,LAMA WILLIAMS,763138,"1401 STATE SCHOOL RD, GATESVILLE TX, 76599"
86,THADUS WILLIAMS JR,438118,"RT 2 BOX 4400, GATESVILLE TX, 76597-0099"
87,GEORGE YARBROUGH,898397,"2661 FM 2054, TENNESSEE COLONY TX, 75884"
88,JOSE C YEGA,651205,"3872 FM 350 SOUTH, LIVINGSTON TX, 77351"

In [19]:
inmate_data.to_excel("inmate_data.xlsx", index=False)